<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Twitter Bootstrap App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />
  </head>
  <body data-ng-app="store">
    <article data-ng-controller="StoreController as store">
      <section data-ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li data-ng-class="{ active:tab === 1 }">
            <a href data-ng-click="panel.selectTab(1)">Description</a>
          </li>
          <li  data-ng-class="{ active:tab === 2 }">
            <a href data-ng-click="panel.selectTab(2)">Specifications</a>
          </li>
          <li  class="panel" data-ng-show="{ active:tab === 3 }">
            <a href data-ng-click="panel.selectTab(3)">Review</a>
            <form name="reviewForm">
              <blockquote ng-repeat="review in product.reveiws">
                <b>Stars: {{review:stars}}</b>
                {{review.body}}
                <cite>by: {{review.author}}</cite>
              </blockquote>
              <select data-ng-model="review.stars">
                <option value="1">1 Star</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
              </select>
              <textarea data-ng-model="review.body" rows="8" cols="40"></textarea>
              <label>by:</label>
              <input data-ng-model="review.author" type="email" />
              <input type="sumbit" value="Submit" />
            </form>

          </li>
          {{ tab }}
        </ul>
        <section data-ng-clas="panel" data-ng-show="tab === 1">
          <h4>Description</h4>
          <p> {{ product.description }} </p>
        </section>
      </section>



      <section data-ng-repeat="product in store.products | orderBy: '-price'">
        <section data-ng-hide="store.product.soldOut">
          <h1> {{ store.product.name }}</h1>
          <h2 class="pull-right"> ${{ store.product.price | currency }}</h2>
          <p>
            {{ store.product.description }}
          </p>
          <button data-ng-show="store.product.canPurchase">Add to Cart</button>
        </section>
      </section>

    </article>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

  </body>
</html>
