<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Twitter App</title>
  </head>
  <body data-ng-app="store">
    <article data-ng-controller="StoreController as store">
      <section data-ng-init="tab = 1"
        <ul class="nav nav-pills">
          <li a href data-ng-click="tab = 1">Description</li>
          <li a href data-ng-click="tab = 2">Specifications</li>
          <li a href data-ng-click="tab = 3">Review</li>
          {{ tab }}
        </ul>
      </section>
      <section data-ng-repeat="product in store.products | orderBy: '-price'">
        <section data-ng-hide="store.product.soldOut">
          <h1> {{ store.product.name }}</h1>
          <h2 class="pull-right"> ${{ store.product.price | currency }}</h2>
          <p>
            {{ store.product.description }}
          </p>
          <button data-ng-show="store.product.canPurchase">Add to Cart</button>
        </section>
      </section>
    </article>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

  </body>
</html>
